.vk-modal {
  background: none repeat scroll 0 0 #000000;
  border-radius: 10px 10px 10px 10px;
  bottom: 0;
  color: #FFFFFF;
  font-size: 12px;
  padding: 20px;
  position: fixed;
  right: 40px;
  z-index: 900;
  width: 335px;
  height: 25px;

}
.vk-modal a{
  color: #fff;
  font-weight: bold;
}
.page-admin .vk-modal{
  font-size: 10px;
}